    @model RolêTopMVC.ViewModels.DashboardViewModel
    <main>
    <h1>Página do administrador</h1>
    <h2>Pedidos:</h2>
<div id="tabela">
   
    <table border=1px>
            <thead>
                <tr>
                    <th>Nomes</th>
                    <th>Datas</th>
                    <th>Respostas</th>
                </tr>
            </thead>
            <tbody>
            @foreach(var produto in Model.Produto )
                    {
                <tr> 
                    <td>@produto.Cliente.Nome</td>
                    <td>@produto.data</td>
                        <td><a href='@Url.Action("Aprovar", "Pedido", new {id = @produto.Id})'><i class="fas fa-check"></i></a>
                        <a href='@Url.Action("Recusar", "Pedido", new {id = @produto.Id})'><i class="fas fa-check"></i></a></td>
                </tr>
                    }
            </tbody>
     </table>
</div>      
<h2>Assinantes do site:</h2>
<div id=block>
        
  <table border=3px>
            <tbody>
                <tr> 
                    <td>Paulo Nunez Silva</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                    <td>Antonip Nascimento</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                    <td>Aline Flores</td>
                    <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                    <td>Mais informações</td>
                </tr>
                <tr> 
                        <td>Antonip Nascimento</td>
                        <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                        <td>Mais informações</td>
                    </tr>
                    <tr> 
                        <td>Aline Flores</td>
                        <td><input class="bloquear" type="button" name="Bloquear" value="Bloquear" alt="Aceitar"></td>
                        <td>Mais informações</td>
                    </tr>
                
            </tbody>
    </table>
</div>   
    </main>